
/* BEGIN : Fonts */

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANSansWeb_Medium.ttf') format('truetype');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

/* END : Fonts */
