@import "./fonts.scss";
* {
    font-family: iranyekan;
}
h1 {
    border: 5px solid yellowgreen;
}
body {
    background: url(../img/1.webp);
    background-size: cover;
    background-size: 100% 500px;
}
.mamad {
    color: purple;
}